%h1
  Survey Tools
%br
%br
= link_to 'Manage Runs', runs_path, :class=>'btn btn-primary'
%br
%br
= link_to 'Dashboard', dashboards_path, :class=>'btn btn-primary'
%br
%br
= link_to 'High Level Reports', practice_reports_path, :class=>'btn btn-primary'
%br
%br
= link_to 'Manage Clinics', clinics_path, :class=>'btn btn-primary'
%br
%br
%br
%br
.small
  ="Working Directory: " + @config  