%h1
	Thanks for completeing the draw. We have recorded winner in the system.

%h3
	=@winner.patient.email
	%br
%h4
	%table
		%tr
			%td
				Visited: 
			%td
				=@winner.clinic.name
		%tr
			%td
				Drawn by: 
			%td
				=@winner.name
		%tr
			%td
				Witnessed by:&nbsp;&nbsp;&nbsp;
			%td
				=@winner.witness
	