/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap/bootstrap
 *= requite bootstrap/boostrap_and_overrides
 */

.standard-table {
	td, th {
		padding: 5px;
	}
}

#report-table {
	td, th {
		padding: 5px;
	}
	.report-table-row{
		cursor: pointer;
		&:hover {
			background-color: #ececec;
		}
	}
}

.average-row {
	background-color: #c2f0fb;
}
.below-average-cell {
	background-color: #fec6c6;
}

.above-average-cell {
	background-color: #c6fec9;
}

.bold {
	font-weight: bold
}

label {
	width: 100px;
}

.indent {
	margin-left: 40px;
}

.small {
	font-size: 10px;
}